@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using deha_exam_quanlykhoahoc.Models;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager
@inject deha_exam_quanlykhoahoc.Services.IAccountService _accountservice

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - deha_exam_quanlykhoahoc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mycss.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/deha_exam_quanlykhoahoc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">deha_exam_quanlykhoahoc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Classes" asp-action="Index">Class</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var roles = await _accountservice.getRolesofUser(user);
                            <li class="nav-item mydropdown">
                                <div>
                                    <a class="nav-link text-dark">@user.FullName</a>

                                    <ul class="dropdown-content">
                                        <!-- <li a class="nav-link text-dark" style="width:auto;" href="#">abc</li> -->
                                        <li class="nav-item"><a class="nav-link text-dark" style="width:auto;" asp-controller="Account" asp-action="AccountManager">Account Manager</a></li>
                                        <li>
                                            <form method="post" asp-action="Logout" asp-controller="Account">
                                                @Html.AntiForgeryToken() <!-- Include anti-forgery token -->
                                                <!-- Other form elements can be added here -->

                                                <button class="mybtn nav-link text-dark" type="submit">Logout</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>


                            </li>
                            if(roles[0].Equals("Admin"))
                            {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ListAccount">List Account</a>
                                    </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item mydropdown">
                                <div>
                                    <a class="nav-link text-dark">Account</a>
                                    <ul class="dropdown-content">
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                                    </ul>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - deha_exam_quanlykhoahoc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
