@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<deha_exam_quanlykhoahoc.ViewModels.LessonViewModel>
@{
    Layout = "";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).on("click", ".pagination-container a", function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        loadData(url);
        function loadData(url) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (result) {
                    console.log(result);
                    $('#mydata').html(result);
                },
                error: function () {
                    alert('Error loading data.');
                }
            });
        }
    });
</script>
 <div id="mydata">
    <partial name="MyViewForListLesson" model="Model" />
</div>
